*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#clock__container{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(../clock.png) no-repeat ;
    background-size: 100%;
}
.bg{
    height: 100vh;
}
#hour, #minute, #second{
    position: absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    width: 3%;
    height: 23%;
    top:28%;
    left: 49%;
    
}
#minute{
    width: 2.2%;
    height: 30%;
    top:21%;
    left: 49.4%;
}

#second{
    width: 1.5%;  
    height: 36%;
    top:15%;
    left: 49.7%;
}